{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
    <title>Auto</title>
    <link rel="stylesheet" href="{% static 'styles/styleLogin.css' %}" />
</head>

    <main>
        <section class="main">
                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Add Advert</h2>
                    {% for field in form %}
                    <label>{{field.label}}:</label>
                    {{field}}
                    {% endfor %}
                    <input type="submit" class="button" value="Add Advert"/> <br>
                </form>
        </section>

    </main>
{% endblock %}

