{% extends 'main.html' %}
{% load static %}
{% block content %}

<main>
  <section class="main">
      <h1>User profile</h1>
      <hr>
      <div class="main-profile">
          <img class="profile-picture circle" src="{{profile.profile_image.url}}" />
          <h1 class="nickname-profile">{{profile.name}}</h1>
          <h1 class="seller-profile">Seller: {{profile.seller}}</h1>
          <h3 class="location-profile">{{advert.owner.location_city}}</h3>
          <h3 class="country-profile">{{advert.owner.location_country}}</h3>
      </div>
      <h1>About me</h1>
      <hr>
      <div class="description-profile">
          <p>{{profile.bio}}</p> 
      </div>
      <h1>Advert</h1>
      <hr>
      {% for advert in adverts %}
      <div class="mainAdvert">
          <a href="{% url 'single-advert' advert.id %}">
          <div class="row">
              <div class="column">
                  <img src="{{ advert.owner.profile_image.url }}" class="advertImage">
              </div>
              <div class="column1">
                  <span class="titleAdvert"><b>{{advert.title}}</b></span>
                      <ul>
                          <li class="header">
                            {{advert.year_of_production}}
                          </li>
                          <li class="header">
                            {{advert.mileage}}km
                          </li>
                          <li class="header">
                            {{advert.fuel_type}}
                          </li>
                          <li class="header">
                            {{advert.variant}}
                          </li>
                      </ul>
                      <span class="location"><img class="address-icon" src="images/pin.png" alt="" /><b>Adres: </b>{{advert.location_city}}, {{advert.location_country}}</span>
              </div>
              <div class="column">
                  <span><h2 class="price">{{advert.price}} PLN</h2></span>
              </div>
          </div>
          </a>
      </div>
      {% endfor %}
  </section>
{% endblock %}
