body
{
    font-family: Arial;
    background: linear-gradient(#FFF, #C4C4C4);
    padding: 0;
}

h2
{
    color: white;
}
h3
{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1E1E;
    padding: 30px 60px 30px 60px;
    color: white;
}

.cointainer
{
    box-shadow: 0 0 20px grey;
    width: auto;
    margin: 0 auto;
    background-color: white;
}

header ul {
    padding: 0;
    list-style: none;
}

.menu
{
    float: left;
}

.menu-nav {
    background-color: #54BAE8;
    display: block;
    width: auto;
    height: auto;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    padding: 10px 20px;
    margin: 0px 10px 1px 0px;
    border-radius: 26px;
    transition: background-color 0.5s, color 0.5s;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.menu-nav:hover {
    color: white;
    background-color: tomato;
    border: 1px solid black;
}

form
{
    display: inline-block;
    background-color: #1E1E1E;
    font-size: 20px;
    color:white;
    line-height: 2.5;
    padding: 10px;
    word-spacing: 3px;
    width: auto;
    height: auto;
}

.main
{
    height: auto;
    background-image: url("/static/images/opel.png");
    background-size: cover;
    background-position: center;
    padding: 10px 60px 20px 10px;
}

select, input
{
    padding: 10px;
    border: none;
    font: 300 100%/1.2 Ubuntu, sans-serif;
    width: 180px;
}

select:required:invalid 
{
    color: #666;
}

option[value=""][disabled]
{
    display: none;
}

option 
{
    color: #000;
}

label 
{
    display: block;
}
.button
{
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    background-color: #54BAE8;
    color: white;
    border-radius: 6px;
    transition: background-color 0.5s, color 0.5s;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button:hover 
{
    background-color: tomato;
    border: 1px solid black;
}

footer
{
    display: flex;
    justify-content: space-around;
    background-color: #1E1E1E;
    color:white;
    height: auto;
	font-size: 16px;
    padding: 20px 0 20px 0;
}

.social-container
{
    display:flex;
    align-items: center;
}

.social-container span
{
    margin-left: 10px;
}

span
{
    line-height: 2;
    letter-spacing: 1px;
}

.footer-link
{
    color: white;
    text-decoration: none;
}


/*=======================
  Profile
========================*/

.profile .card > .dev {
    padding: 4rem;
  }
  
  .dev__avatar {
    display: block;
    margin: auto;
  }
  
  .dev__name {
    color: var(--color-sub);
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .dev__title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
  }
  
  .dev__location {
    margin-top: 1rem;
  }
  
  .dev__social {
    margin: 3rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .devInfo {
    margin-bottom: 3rem;
  }
  
  .devInfo__title,
  .devInfo__subtitle {
    font-size: 2.6rem;
    color: var(--color-sub);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  .devInfo__subtitle {
    font-size: 2rem;
    color: var(--color-sub-light);
  }
  
  .devInfo__about,
  .devSkill__info {
    font-size: 1.45rem;
    line-height: 1.7;
    text-align: justify;
  }
  
  .devSkill {
    margin-bottom: 3rem;
  }
  
  .devSkill__title {
    font-size: 1.65rem;
    font-weight: 500;
    color: var(--color-sub-light);
  }
  
  @media screen and (min-width: 700px) {
    .devSkill {
      display: flex;
      justify-content: space-between;
      gap: 3rem;
    }
  
    .devSkill__info {
      flex-basis: 80%;
    }
  }

  .mainAdvert {
    border-radius: 4px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(220, 221, 224);
    padding: 16px;
    margin: 24px;
    margin-left: 19%;
    width: 60%;
}
a
{
    text-decoration: none;
    color: #000;
}

.advertImage {
    width: 240px;
    height: 180px;
    visibility: visible;
    object-fit: contain;
}

.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column1
{
    margin-left: -15%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.price
{
    color: #c82814;
    font-size: 26px;
    margin-top: -1px;
    margin-left: 60%;
    padding-bottom: 20px;
}

.column 
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.titleAdvert
{
    font-size: 25px;
}